/* static/css/styles.css */

table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9em; /* Adjust font size to fit more rows */
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px; /* Reduce padding to decrease space */
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-image: linear-gradient(45deg, #A090D0, #B3E1DD);
  color: white;
}

/* Ensure the table is scrollable on smaller screens */
div.overflow-x:auto {
  overflow-x: auto;
}

/* Add this CSS to style custom-navbar links */
.custom-navbar a,
.custom-navbar .nav-link {
  color: white !important;
}

/* Adjust vertical spacing of custom-navbar items */
.custom-navbar ul,
.custom-navbar li {
  margin: 0;
  padding: 0;
}

.custom-navbar a,
.custom-navbar .nav-link {
  padding: 5px 10px; /* Minimal standard padding */
}

.custom-navbar a:hover {
  color: #f1f1f1;
}

#pdfModal {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#pdfModal button {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Add some basic styling to the custom-navbar */
.custom-navbar {
  height: 100%;
  width: 160px; /* Width of the custom-navbar */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111; /* custom-navbar background color */
  overflow-x: hidden;
  padding-top: 20px;
}

.custom-navbar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

/* Content styling */
.main-content {
  margin-left: 160px; /* Same as custom-navbar width */
  padding: 20px;
}

/* Add this to your styles.css */
#lineItemsTable {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  table-layout: fixed;
}

#lineItemsTable th, #lineItemsTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#lineItemsTable th:nth-child(1),
#lineItemsTable td:nth-child(1) {
    width: 16%;
}

#lineItemsTable th:nth-child(n+2),
#lineItemsTable td:nth-child(n+2) {
    width: 14%;
}

#leftSide {
  width: 40%;
  float: left;
}

#rightSide {
  width: 60%;
  float: right;
}

#lineItemsTable select {
  width: 100%;
}

#lineItemsTable input {
  max-width: 100%;
}

#combinedModal {
  position: fixed;
  top: 10%;
  left: 170px;
  width: calc(100% - 170px);
  height: 80%;
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  display: flex;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.pdf-viewer {
  flex: 0 0 50%;
  border-right: 1px solid #ddd;
  padding-right: 10px;
}

.pdf-frame {
  width: 100%;
  height: 100%;
  border: none;
}

.cost-details {
  flex: 0 0 50%;
  padding-left: 10px;
  overflow-x: auto;
}

.total-cost-input {
  margin-bottom: 10px;
}

/* Make the input fields wider */
#lineItemsTable input {
  width: 90%;  /* Adjust as needed */
}

/* Make the font smaller */
#lineItemsTable input {
  font-size: 0.8em;  /* Adjust as needed */
}

/* Add some padding to the cells */
#lineItemsTable td {
  padding: 0.5em;  /* Adjust as needed */
}

/* Remove the increment/decrement arrows from the total cost field */
#totalCost {
  -webkit-appearance: textfield;  /* for Chrome */
  -moz-appearance: textfield;  /* for Firefox */
  appearance: textfield;
}

/* Remove the increment/decrement arrows from the input fields in columns 3 and 5 */
#lineItemsTable input[type="number"] {
  -webkit-appearance: textfield;  /* for Chrome */
  -moz-appearance: textfield;  /* for Firefox */
  appearance: textfield;
}

/* For IE and Edge */
#lineItemsTable input[type="number"]::-webkit-inner-spin-button,
#lineItemsTable input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Set the font size for all cells in the table */
#lineItemsTable td {
  font-size: 0.8em;  /* Adjust as needed */
}

/* Set the font size and weight for the 'Still to Allocate' row */
#stillToAllocateRow {
  font-size: 1.2em;  /* Adjust as needed */
  font-weight: bold;
}